{%extends "webapp/header.html" %}

{% block content %}

{% load static from staticfiles %}


<!-- IMPORTANT enctype attribute! -->
		
		
<form action="" method="POST" enctype="multipart/form-data">
	<legend><h1>Questions</h1></legend>
    {% csrf_token %}
    {{ form.media }}
    {% if form.errors %}
        <div class="alert alert-error">
            <ul>
                {% for error in form.non_field_errors %}
                    <li><font color = "red">{{ error }}</font></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
	<style type="text/css">
		h4 {
    display: inline;
	}
	</style>
    {% for field in form.visible_fields %}
        <div class="form-group {{ field.html_name }}{% if field.errors %} has-error has-feedback{% endif %}">
            <strong>{{ field.label|safe|linebreaksbr }}</strong>{% if field.field.required %}<font color = "red"><h4> *</h4></font>{% endif %}
            <div class="row">
			<div class="col-sm-6">
			<br>
			{{ field }}
			{% if field.errors %}
			<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
			<span class="help-block">{{ field.errors.as_text }}</span>
			{% endif %}           
			</div>
			</div>
        </div>
		<br><br>
    {% endfor %}
	<script>
		$('textarea').addClass('form-control');
	</script>
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}

    {% block formsets %}
        {% for formset in inlines %}
            {% include "inline_formset.html" with formset=formset %}
        {% endfor %}        
    {% endblock formsets %}

    <div class="form-actions">
        <input class="btn btn-primary btn-large" type="submit" value="Submit"/>
        {% block extra_buttons %}
        {% endblock extra_buttons %}
    </div>
</form>
		
{% endblock %}