{%extends "webapp/header.html" %}

{% block content %}

{% load static from staticfiles %}


<!-- IMPORTANT enctype attribute! -->

<h1>Details</h1>
		
        <form class="form-horizontal" action="{% url "crypt:home" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
			{{ form.media }}
    {% if form.errors %}
        <div class="alert alert-error">
            <ul>
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% for field in form.visible_fields %}
        <div class="control-group {{ field.html_name }} {% if field.errors %}error{% endif %}">
            <label class="control-label">{{ field.label }}{% if field.field.required %} *{% endif %}</label>
            <div class="controls">
                {{ field }}
                {% if field.errors %}<span class="help-inline">{{ field.errors.as_text }}</span>{% endif %}
            </div>
        </div>
    {% endfor %}
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}

    {% block formsets %}
        {% for formset in inlines %}
            {% include "inline_formset.html" with formset=formset %}
        {% endfor %}        
    {% endblock formsets %}

    <div class="form-actions">
        <button id="submit" class="btn btn-primary btn-large">
            Submit
		</button>
        {% block extra_buttons %}
        {% endblock extra_buttons %}
    </div>
	
	<div class="dropzone" id="my-dropzone" name="mainFileUploader">
            <div class="fallback">
                <input name="file" type="file" multiple />
            </div>
    </div>
		
	</form>
	
	<button id="submit-all" class="btn btn-primary btn-large">
            Submit all files
    </button>
		
		<script src="{% static 'crypt/js/dropzone.js' %}"></script>
        <script>
        Dropzone.options.myDropzone = {
            url: "/crypt",
            autoProcessQueue: false,
            uploadMultiple: true,
            parallelUploads: 100,
            maxFiles: 100,
            acceptedFiles: "image/*",

            init: function () {

                var submitButton = document.querySelector("#submit");
                var wrapperThis = this;

                submitButton.addEventListener("click", function () {
                    wrapperThis.processQueue();
                });

                this.on("addedfile", function (file) {

                    // Create the remove button
                    var removeButton = Dropzone.createElement("<button class='btn btn-lg dark'>Remove File</button>");

                    // Listen to the click event
                    removeButton.addEventListener("click", function (e) {
                        // Make sure the button click doesn't submit the form:
                        e.preventDefault();
                        e.stopPropagation();

                        // Remove the file preview.
                        wrapperThis.removeFile(file);
                        // If you want to the delete the file on the server as well,
                        // you can do the AJAX request here.
                    });

                    // Add the button to the file preview element.
                    file.previewElement.appendChild(removeButton);
                });

               
            }
        };
    </script>
		
{% endblock %}