{%extends "webapp/header.html" %}

{% block content %}

{% load static from staticfiles %}

<style type="text/css">
#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}
</style>
<!-- IMPORTANT enctype attribute! -->
<script src="{% static 'js/timer.js' %}"></script>
	<h1>Countdown Clock</h1>
<div id="clockdiv">
  <div>
    <span class="days"></span>
    <div class="smalltext">Days</div>
  </div>
  <div>
    <span class="hours"></span>
    <div class="smalltext">Hours</div>
  </div>
  <div>
    <span class="minutes"></span>
    <div class="smalltext">Minutes</div>
  </div>
  <div>
    <span class="seconds"></span>
    <div class="smalltext">Seconds</div>
  </div>
</div>	
		
<form action="" method="POST" enctype="multipart/form-data">
	<legend><h1>Questions</h1></legend>
    {% csrf_token %}
    {{ form.media }}
    {% if form.errors %}
        <div class="alert alert-error">
            <ul>
                {% for error in form.non_field_errors %}
                    <li><font color = "red">{{ error }}</font></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
	<style type="text/css">
		h4 {
    display: inline;
	}
	</style>
    {% for field in form.visible_fields %}
        <div class="form-group {{ field.html_name }}{% if field.errors %} has-error has-feedback{% elif form.is_bound %} has-success has-feedback{% endif %}">
            <strong>{{ field.label|safe|linebreaksbr }}</strong>{% if field.field.required %}<font color = "red"><h4> *</h4></font>{% endif %}
            <div class="row">
			<div class="col-sm-6">
			<br>
			{{ field }}
			{% if field.errors %}
			<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
			<span class="help-block">{{ field.errors.as_text }}</span>
			{% elif form.is_bound %}
			<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
			{% endif %}           
			</div>
			</div>
        </div>
		<br><br>
    {% endfor %}
	<script>
		$('textarea').addClass('form-control');
	</script>
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}

    {% block formsets %}
        {% for formset in inlines %}
            {% include "inline_formset.html" with formset=formset %}
        {% endfor %}        
    {% endblock formsets %}

    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="Next &rarr;"/>
        {% block extra_buttons %}
        {% endblock extra_buttons %}
    </div>
</form>
		
{% endblock %}