{%extends "webapp/header.html" %}

{% block content %}

{% load static from staticfiles %}


<!-- IMPORTANT enctype attribute! -->

<h1>Details</h1>
		
		
        <form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {% if form.errors %}
        <div class="alert alert-error">
            <ul>
                {% for error in form.non_field_errors %}
                    <li><font color = "red">{{ error }}</font></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% for field in form.visible_fields %}
		{% if field.field.page == 2 and field.auto_id == 'id_extra_field_4' %} <h3>Answer <strong>{% if form.errors %}<font color = "red">{% endif %}any two{% if form.errors %}</font>{% endif %}</strong> of the following questions you think you can <strong>{% if form.errors %}<font color = "red">{% endif %}answer the best{% if form.errors %}</font>{% endif %}</strong> :</h3><br>{% endif %}
        <div class="control-group {{ field.html_name }} {% if field.errors %}error{% endif %}">
            <strong>{{ field.label|safe|linebreaks }}</strong>{% if field.field.required %}<font color = "red"><h4> *</h4></font>{% endif %}
            <div class="controls">
                {{ field }}
                {% if field.errors %}<span class="help-inline" > <font color = "red">{{ field.errors.as_text }}</font></span>{% endif %}
            </div>
        </div>
		<br><br>
    {% endfor %}
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}

    {% block formsets %}
        {% for formset in inlines %}
            {% include "inline_formset.html" with formset=formset %}
        {% endfor %}        
    {% endblock formsets %}

    <div class="form-actions">
        <input class="btn btn-primary btn-large" type="submit" value="Submit"/>
        {% block extra_buttons %}
        {% endblock extra_buttons %}
    </div>
</form>
		
{% endblock %}