{% extends "webapp/header.html"%}

{% block content %}
<div class="hidden-xs hidden-sm">
	<p><strong><h3>Welcome to the ISTE NITK Chapter recruitment portal!</h3></strong></p>
	<br>
	<p>Each SIG has its own recruitment questions which can be accessed by clicking the SIG specific links to your left.</p> 

	<p>You can sign up for one or more SIGs. Information about each SIG is present on the <a href="http://iste.nitk.ac.in/" target="blank">ISTE NITK</a> home page</p>
	<br>
	<p>For spammers : </p>

	<p>We've set up a back end spam filter. Don't waste your time.</p><br>
	<h4><strong>Kindly fill the form within 2 hours to prevent expiration of the session.</strong></h4>
	<p><strong>Please save your responses just in case:)</strong></p><br><br>
	
	<p>For further information contact : </p>
	<p>Vibhav IK  +91 97399 71873</p><br>
</div>
<div class="hidden-md hidden-lg">
	<p><strong><h3>Welcome to the ISTE NITK Chapter recruitment portal!</h3></strong></p>
	<br>
	<p>Each SIG has its own recruitment questions which can be accessed by clicking the button on the top left corner. </p> 

	<p>You can sign up for one or more SIGs. Information about each SIG is present on the <a href="http://iste.nitk.ac.in/" target="blank">ISTE NITK</a> home page</p>
	<br>
	<p>For spammers : </p>

	<p>We've set up a back end spam filter. Don't waste your time.</p><br>
	<h4><strong>Kindly fill the form within 2 hours to prevent expiration of the session.</strong></h4>
	<p><strong>Please save your responses just in case:)</strong></p><br><br>
	
	<p>For further information contact : </p>
	<p>Vibhav IK  +91 97399 71873</p><br>
</div>


{% endblock %}