{%extends "useradmin/header.html" %}

{% block content %}
{% load static from staticfiles %}
<link href="{% static 'useradmin/css/style.css' %}" rel="stylesheet" type="text/css" />
<font color = "blue">{{ saveconf }}</font>
<div id="search-result-body">
	<table>
		<tr class="even">
			<td><strong>Name:</strong> <br/></td>
			<td>{{ result.name }} <br/></td>
		</tr>
		<tr class="even">
			<td><strong>Roll No:</strong> <br/></td>
			<td>{{ result.rollno }} <br/></td>
		</tr>
		<tr class="even">
			<td><strong>Mobile No:</strong> <br/></td>
			<td>{{ result.mobileno }} <br/></td>
		</tr>
		<tr class="even">
			<td><strong>E-mail:</strong> <br/></td>
			<td>{{ result.email }} <br/></td>
		</tr>
		{% if signame == 'create' %}
		<tr class="odd">
			<td><strong>URL to Poster or Video</strong> <br/></td>
			<td><a href="{{result.URL_to_Poster_or_Video}}">{{ result.URL_to_Poster_or_Video }} <br/></td>
		</tr>
		{% endif %}
		<tr class="odd">
			<td><strong>Question</strong> <br/></td>
			<td><strong><font color = "green">Answer</font></strong><br/></td>
		</tr>
		{% for answer in result.answer_set.all %}
		<tr class="odd">
			<td><strong>{{ answer.question.question }}</strong> <br/></td>
			<td><font color = "green">{{ answer.answer }}</font><br/></td>
		</tr>
		{% endfor %}
		{% if signame == 'crypt' or signame == 'clutch' %}
		<tr class="odd">
			<td><strong>Links(Resume):</strong> <br/></td>
			<td>
			{% for file in result.file_set.all %}
			<a href="{{ MEDIA_URL }}{{ file.file }}">{{ file.filename }} <br/>
			{% endfor %}
			</td>
		</tr>
		{% endif %}
	<form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {% if form.errors %}
        <div class="alert alert-error">
            <ul>
                {% for error in form.non_field_errors %}
                    <li><font color = "red">{{ error }}</font></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% for field in form.visible_fields %}   
		<tr class="even">
			<td><strong><font color = "blue">{{ field.label }}</font></strong><br/></td>
			<td><font color = "blue">{{ field }}</font><br/></td>
		</tr>
    {% endfor %}
    <br> 
	<tr>
		<td colspan="2" class="left"><input class="btn btn-primary btn-large" type="submit" value="Save"/></td>
	</tr>
	</form>
	</table>
	
</div>
{% endblock %}