{%extends "useradmin/header.html" %}

{% block content %}
<div class="hidden-xs hidden-sm">
	<p><font color = "#E5E7E9">Welcome, {{ user.first_name }} {{ user.last_name }},</font></p><br>
	<p><font color = "#E5E7E9">Instructions how to use:</font></p>
	<ul style="background-color: #FCFCFC;font-face:Verdana;font-size:16px;">
	<br>
	<font color = "#1E598D"><li>To search through any SIG specific records click on the SIG specific link to your left.</li></font>
	<font color = "#1E598D"><li>To view all applicants and their details of that particular SIG in a table form click on the search button without giving any search query. </li></font>
	<font color = "#1E598D"><li>To view details of a  particular applicant enter his/her Name, Roll No, Mobile No, or email and click on the search button. </li></font>
	<font color = "#1E598D"><li>To view the list order by score click "order by score" button instead of the search button. </li></font>
	<font color = "#1E598D"><li>To view all applicants selected for next round click the selected button without giving a search query and to view a particular applicant enter his/her Name, Roll No, Mobile No, or email and click on the selected button. </li></font>	
	<font color = "#1E598D"><li>To order by a particular attribute click on the attribute you want to order by in the table. </li></font>
	<font color = "#1E598D"><li>To read the responses/answers and complete details given by an applicant click on his/her Roll No in the table. </li></font>
	<font color = "#1E598D"><li>After reading his/her responses, to score a particular applicant enter a score in the range 1-10 and <strong>click on the save button to save it</strong>. </li></font>
	<font color = "#1E598D"><li>To select the applicant for next round check the check box named selected and <strong>click on the save button to save it</strong>. </li></font>
	<br>
	</ul>
</div>
<div class="hidden-md hidden-lg">
	<p><font color = "#E5E7E9">Welcome, {{ user.first_name }} {{ user.last_name }},</font></p><br>
	<p><font color = "#E5E7E9">Instructions how to use:</font></p>
	<ul style="background-color: #FCFCFC;font-face:Verdana;font-size:16px;">
	<br>
	<font color = "#1E598D"><li>To search through any SIG specific records click the button on the top left corner to access the menu.</li></font><br>
	<font color = "#1E598D"><li>To view all applicants and their details of that particular SIG in a table form click on the search button without giving any search query. </li></font><br>
	<font color = "#1E598D"><li>To view details of a  particular applicant enter his/her Name, Roll No, Mobile No, or email and click on the search button. </li></font><br>
	<font color = "#1E598D"><li>To view the list order by score click "order by score" button instead of the search button. </li></font><br>
	<font color = "#1E598D"><li>To view all applicants selected for next round click the selected button without giving a search query and to view a particular applicant enter his/her Name, Roll No, Mobile No, or email and click on the selected button. </li></font><br>	
	<font color = "#1E598D"><li>To order by a particular attribute click on the attribute you want to order by in the table. </li></font><br>
	<font color = "#1E598D"><li>To read the responses/answers and complete details given by an applicant click on his/her Roll No in the table. </li></font><br>
	<font color = "#1E598D"><li>After reading his/her responses, to score a particular applicant enter a score in the range 1-10 and <strong>click on the save button to save it</strong>. </li></font><br>
	<font color = "#1E598D"><li>To select the applicant for next round check the check box named selected and <strong>click on the save button to save it</strong>. </li></font><br>
	</ul>
</div>
{% endblock %}