{%extends "useradmin/header.html" %}

{% block content %}
<script>
$('a[href="' + this.location.pathname + '"]').parents('li,ul').addClass('active');
</script>
<form id="searchform" action="results" method="get" accept-charset="utf-8">
	  <div class="container">
	<div class="row">
		<h2>Search {{ signame }} Records</h2>
		<div id="custom-search-input">
			<div class="input-group col-md-8">
				<input id="searchbox" name="q" type="text" class="  search-query form-control" placeholder="Rollno/Name/Mobile/E-mail" />
				<span class="input-group-btn">
				<button class="btn btn-danger" name="sort" value="name" type="submit"><span class=" glyphicon glyphicon-search"></span></button>
				</span>
			</div>
		</div>
	</div>
</div>
<br>
<button class="btn btn-danger" name="sort" value="-score" type="submit">Order by Score</button>
<a href="selected/?sort=name" class="btn btn-danger">Show Selected</a>
    </form>

	
{% endblock %}