html {
  min-width: 270px;
  height: 100%;
  background: #f6f6f6;
}

body {
  height: 100%;
  padding: 50px 0 0 0;
  background: #f6f6f6;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
}